:root {
    --primary-red: #DB3A34;
    --primary-yellow: #FFAD0A;
    --primary-green: #0EAD69;
    --primary-lightblue: #D6EDFF;
    --primary-darkgray: #254441;
}

.button-container {
  margin: 10px 0;
}
.button-container button {
  margin-right: 10px;
}
.progress-container {
  width: 420px;
  height: 10px;
  background: #eee;
  margin-top: 10px;
  position: relative;
}
.progress-bar {
  height: 100%;
  background: var(--primary-darkgray);
  width: 0%;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-knob {
  width: 10px;
  height: 10px;
  background: var(--primary-red);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border: 2px solid white;
}

.media-control-container{
    padding: 10px;
    border: 2px solid white;

    display: flex;  flex-direction: column;  align-items: center;  justify-content: center;  /* Adjust as needed */
}

.time-display {
  font-size: 14px;
  margin-top: 10px;
}
.button-control {
  width: 60px;
  height: 60px;
  border-radius: 50%; /* Rende il bottone circolare */
  background-color: var(--primary-darkgray); 
  color: white; /* Colore del testo */
  border: none; /* Nessun bordo */
  cursor: pointer; /* Cambia il cursore quando si passa sopra */
  font-size: 30px; /* Dimensione del testo */
  text-align: center; /* Centra il testo */
  line-height: 40px; /* Allinea verticalmente il testo */
}

.button-control:hover {
  background-color: rgb(95, 111, 70); /* Colore di sfondo più scuro quando si passa sopra */
}
